body {
    background-image: linear-gradient(to left,  rgb(15, 53, 33),rgb(43, 91, 66), rgb(15, 53, 33) );
}

.header {
    width: 100%;
    height: 400px;
    background-image: url(../img/header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(200px);
}

#error {
    margin: auto;
}

#heroes_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    opacity: 0%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    background-image: radial-gradient(rgb(20,18,27), rgb(15, 53, 33));
    color: #CEAD60;
    clip-path: polygon(
        0 5%,
        5% 0,
        95% 0,
        100% 5%,
        100% 95%,
        95% 100%,
        5% 100%,
        0% 95%
    );
    border: 2px #CEAD60 solid;
    height: 155px;
}

.name {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    font-size: smaller;
}

.info {
    display: flex;
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #CEAD60;
    width: 75px;
    font-size: smaller;
    color: rgb(15, 53, 33);
    clip-path: polygon(
        0 0%,
        5% 0,
        95% 0,
        100% 5%,
        100% 95%,
        95% 100%,
        0% 100%,
        0% 95%
    );
}

.stat div {
    margin-left: 5px;
}

.img_hero {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width: 100px;
    background-image: url('../img/alt.png');
    background-size: contain;
    background-repeat: no-repeat;
}